
body {
    font-family: Arial, sans-serif;
    
 }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    
    width: 300px;
    margin: auto;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* style the submit button */
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* style the submit button on hover */
  input[type="submit"]:hover {
    background-color: #0062cc;
  }
  